<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Ring Stiffness SN 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID (mm)</td>
            <td>Harga (Rp/m)</td>
        </tr>
        <tr>
            <td>100</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>150</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>200</td>
            <td>Rp 158,900 </td>
        </tr>
        <tr>
            <td>300</td>
            <td>Rp 317,800 </td>
        </tr>
        <tr>
            <td>400</td>
            <td>Rp 532,800 </td>
        </tr>
        <tr>
            <td>500</td>
            <td>Rp 831,900 </td>
        </tr>
        <tr>
            <td>600</td>
            <td>Rp 1,308,600 </td>
        </tr>
    </tbody>
</table>