<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Ring Stiffness SN 8</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID (mm)</td>
            <td>Harga (Rp/m)</td>
        </tr>
        <tr>
            <td>100</td>
            <td>Rp 70,100 </td>
        </tr>
        <tr>
            <td>150</td>
            <td>Rp 140,200 </td>
        </tr>
        <tr>
            <td>200</td>
            <td>Rp 196,300 </td>
        </tr>
        <tr>
            <td>300</td>
            <td>Rp 476,700 </td>
        </tr>
        <tr>
            <td>400</td>
            <td>Rp 747,800 </td>
        </tr>
        <tr>
            <td>500</td>
            <td>Rp 1,215,200 </td>
        </tr>
        <tr>
            <td>600</td>
            <td>Rp 1,682,600 </td>
        </tr>
    </tbody>
</table>