<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">Pipa HDPE/PP Single Wall Corrugated</th>
        </tr>
        <tr>
            <th>ID (mm-inch)</th>
            <th>Harga (Rp/m)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>29 (3/4")</td>
            <td>Rp 23,500 </td>
        </tr>
        <tr>
            <td>34 (1")</td>
            <td>Rp 29,400 </td>
        </tr>
        <tr>
            <td>42 (1 1/4")</td>
            <td>Rp 35,200 </td>
        </tr>
        <tr>
            <td>54 (1 1/2")</td>
            <td>Rp 39,200 </td>
        </tr>
        <tr>
            <td>65 (2")</td>
            <td>Rp 50,900 </td>
        </tr>
        <tr>
            <td>80 (3")</td>
            <td>Rp 62,600 </td>
        </tr>
        <tr>
            <td>100 (4")</td>
            <td>Rp 78,300 </td>
        </tr>
    </tbody>
</table>