<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="2">S-5 SDR-11 (PN 16)</th>
        </tr>
        <tr>
            <td>ND (INCH)</td>
            <td>OD (MM)</td>
            <td>Tebal (mm)</td>
            <td>Harga (Rp/meter)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>20</td>
            <td>2,00</td>
            <td> 6,847 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>25</td>
            <td>2,30</td>
            <td> 9,970 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>3,00</td>
            <td> 16,456 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>40</td>
            <td>3,70</td>
            <td> 25,345 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>50</td>
            <td>4,60</td>
            <td> 39,339 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>63</td>
            <td>5,80</td>
            <td> 62,282 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>75</td>
            <td>6,80</td>
            <td> 86,967 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>90</td>
            <td>8,20</td>
            <td> 125,826 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>110</td>
            <td>10,00</td>
            <td> 186,967 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>125*</td>
            <td>11,40</td>
            <td> 242,342 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>140</td>
            <td>12,70</td>
            <td> 302,162 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>160</td>
            <td>14,60</td>
            <td> 396,576 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>180*</td>
            <td>16,40</td>
            <td> 501,201 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>200</td>
            <td>18,20</td>
            <td> 617,897 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>225*</td>
            <td>20,50</td>
            <td> 782,462 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>250</td>
            <td>22,70</td>
            <td> 962,582 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>280*</td>
            <td>25,40</td>
            <td> 1,206,485 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>315</td>
            <td>28.6</td>
            <td> 1,527,506 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>355</td>
            <td>32,20</td>
            <td> 1,938,256 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>100</td>
            <td>36,30</td>
            <td> 2,461,199 </td>
        </tr>
    </tbody>
</table>

<p><strong>Panjang Pipa</strong></p>
<ul>
    <li>Ukuran 1/2" sampai dengan 1" = 100, 250 (meter/roll)</li>
    <li>Ukuran 1-1/4" sampai dengan 1-1/2" = 100 (meter/roll)</li>
    <li>Ukuran 2" sampai dengan 2-1/2" = 50, 100 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 3" sampai dengan 4" = 50 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 5" samai dengan 16" = 6, 12, 5.8, 11.8 (meter/batang)</li>
</ul>

<p><strong>Keterangan</strong></p>
<ul>
    <li>Harga belum termasuk PPn 10%</li>
    <li>Harga dapat berubah sewaktu-waktu tanpa pemberitahuan terlebih dahulu</li>
    <li>Material PE-100</li>
    <li>Franco Cikande, Serang</li>
</ul>