<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="2">S-6.3 SDR-13.6 (PN 12.5)</th>
        </tr>
        <tr>
            <td>ND (INCH)</td>
            <td>OD (MM)</td>
            <td>Tebal (mm)</td>
            <td>Harga/ meter</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>20</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>25</td>
            <td>2,00</td>
            <td> 8,769 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>2,40</td>
            <td> 13,574 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>40</td>
            <td>3,00</td>
            <td> 20,961 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>50</td>
            <td>3,70</td>
            <td> 32,372 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>63</td>
            <td>4,70</td>
            <td> 51,592 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>75</td>
            <td>5,60</td>
            <td> 79,093 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>90</td>
            <td>6,70</td>
            <td> 104,745 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>110</td>
            <td>8,10</td>
            <td> 154,955 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>125*</td>
            <td>9,20</td>
            <td> 199,760 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>140</td>
            <td>10,30</td>
            <td> 250,270 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>160</td>
            <td>11,80</td>
            <td> 327,027 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>180*</td>
            <td>13,30</td>
            <td> 414,774 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>200</td>
            <td>14,70</td>
            <td> 508,948 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>225*</td>
            <td>16,60</td>
            <td> 646,366 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>250</td>
            <td>18,40</td>
            <td> 796,095 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>280*</td>
            <td>20,60</td>
            <td> 997,717 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>315</td>
            <td>23,20</td>
            <td> 1,264,083 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>355</td>
            <td>26,10</td>
            <td> 1,602,401 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>100</td>
            <td>29,40</td>
            <td> 2,032,791 </td>
        </tr>
    </tbody>
</table>
<p><strong>Panjang Pipa</strong></p>
<ul>
    <li>Ukuran 1/2" sampai dengan 1" = 100, 250 (meter/roll)</li>
    <li>Ukuran 1-1/4" sampai dengan 1-1/2" = 100 (meter/roll)</li>
    <li>Ukuran 2" sampai dengan 2-1/2" = 50, 100 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 3" sampai dengan 4" = 50 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 5" samai dengan 16" = 6, 12, 5.8, 11.8 (meter/batang)</li>
</ul>

<p><strong>Keterangan</strong></p>
<ul>
    <li>Harga belum termasuk PPn 10%</li>
    <li>Harga dapat berubah sewaktu-waktu tanpa pemberitahuan terlebih dahulu</li>
    <li>Material PE-100</li>
    <li>Franco Cikande, Serang</li>
</ul>