<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">Dimensi</th>
            <th colspan="2">S-12.5 SDR-26 (PN 6.3)</th>
        </tr>
        <tr>
            <td>ND (INCH)</td>
            <td>OD (MM)</td>
            <td>Tebal (mm)</td>
            <td>Harga/ meter</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>20</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>25</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>32</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>40</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>50</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>63</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>75</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>90</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>110</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>125*</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>140</td>
            <td>&nbsp;</td>
            <td> - </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>160</td>
            <td>6,20</td>
            <td> 179,579 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>180*</td>
            <td>6,90</td>
            <td> 224,204 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>200</td>
            <td>7,70</td>
            <td> 277,838 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>225*</td>
            <td>8,60</td>
            <td> 349,129 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>250</td>
            <td>9,60</td>
            <td> 432,612 </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>280*</td>
            <td>10,70</td>
            <td> 539,759 </td>
        </tr>
        <tr>
            <td>12"</td>
            <td>315</td>
            <td>12,10</td>
            <td> 686,906 </td>
        </tr>
        <tr>
            <td>14"</td>
            <td>355</td>
            <td>13,60</td>
            <td> 868,828 </td>
        </tr>
        <tr>
            <td>16"</td>
            <td>100</td>
            <td>15,30</td>
            <td> 1,101,380 </td>
        </tr>
    </tbody>
</table>

<p><strong>Panjang Pipa</strong></p>
<ul>
    <li>Ukuran 1/2" sampai dengan 1" = 100, 250 (meter/roll)</li>
    <li>Ukuran 1-1/4" sampai dengan 1-1/2" = 100 (meter/roll)</li>
    <li>Ukuran 2" sampai dengan 2-1/2" = 50, 100 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 3" sampai dengan 4" = 50 (meter/roll). 6, 12, 5.8, 11.8 (meter/batang)</li>
    <li>Ukuran 5" samai dengan 16" = 6, 12, 5.8, 11.8 (meter/batang)</li>
</ul>

<p><strong>Keterangan</strong></p>
<ul>
    <li>Harga belum termasuk PPn 10%</li>
    <li>Harga dapat berubah sewaktu-waktu tanpa pemberitahuan terlebih dahulu</li>
    <li>Material PE-100</li>
    <li>Franco Cikande, Serang</li>
</ul>