<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">SDR 21 (PN 8)</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch)</td>
            <td>Tebal</td>
            <td>Harga/mtr</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - 1/2"</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>25 mm - 3/4"</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>32 mm - 1"</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>40 mm - 1-1/4"</td>
            <td>2.0</td>
            <td>Rp 16,500 </td>
        </tr>
        <tr>
            <td>50 mm - 1-1/2"</td>
            <td>2.4</td>
            <td>Rp 26,200 </td>
        </tr>
        <tr>
            <td>63 mm - 2"</td>
            <td>3.0</td>
            <td>Rp 40,050 </td>
        </tr>
        <tr>
            <td>75 mm - 2-1/2"</td>
            <td>3.6</td>
            <td>Rp 57,400 </td>
        </tr>
        <tr>
            <td>90 mm - 3"</td>
            <td>4.3</td>
            <td>Rp 82,300 </td>
        </tr>
        <tr>
            <td>110 mm - 4"</td>
            <td>5.3</td>
            <td>Rp 123,150 </td>
        </tr>
        <tr>
            <td>160 mm - 6"</td>
            <td>7.7</td>
            <td>Rp 256,700 </td>
        </tr>
        <tr>
            <td>200 mm - 8"</td>
            <td>9.6</td>
            <td>Rp 417,150 </td>
        </tr>
        <tr>
            <td>250 mm - 10"</td>
            <td>11.9</td>
            <td>Rp 643,600 </td>
        </tr>
        <tr>
            <td>315 mm - 12"</td>
            <td>15.0</td>
            <td>Rp 1,019,800 </td>
        </tr>
        <tr>
            <td>355 mm - 14"</td>
            <td>16.9</td>
            <td>Rp 1,295,950 </td>
        </tr>
        <tr>
            <td>400 mm - 16"</td>
            <td>19.1</td>
            <td>Rp 1,653,200 </td>
        </tr>
        <tr>
            <td>450 mm - 18"</td>
            <td>21.5</td>
            <td>Rp 2,088,150 </td>
        </tr>
        <tr>
            <td>500 mm - 20"</td>
            <td>23.9</td>
            <td>Rp 2,573,850 </td>
        </tr>
        <tr>
            <td>630 mm - 24"</td>
            <td>30.0</td>
            <td>Rp 4,067,100 </td>
        </tr>
        <tr>
            <td>710 mm - 28"</td>
            <td>33.9</td>
            <td>Rp 5,350,150 </td>
        </tr>
        <tr>
            <td>800 mm - 32"</td>
            <td>38.1</td>
            <td>Rp 6,787,900 </td>
        </tr>
    </tbody>
</table>