<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">SDR 11 (PN 16)</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch)</td>
            <td>Tebal</td>
            <td>Harga/mtr</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - 1/2"</td>
            <td>2.0</td>
            <td>Rp 8,000 </td>
        </tr>
        <tr>
            <td>25 mm - 3/4"</td>
            <td>2.3</td>
            <td>Rp 11,400 </td>
        </tr>
        <tr>
            <td>32 mm - 1"</td>
            <td>3.0</td>
            <td>Rp 19,700 </td>
        </tr>
        <tr>
            <td>40 mm - 1-1/4"</td>
            <td>3.7</td>
            <td>Rp 29,650 </td>
        </tr>
        <tr>
            <td>50 mm - 1-1/2"</td>
            <td>4.6</td>
            <td>Rp 46,350 </td>
        </tr>
        <tr>
            <td>63 mm - 2"</td>
            <td>5.8</td>
            <td>Rp 72,950 </td>
        </tr>
        <tr>
            <td>75 mm - 2-1/2"</td>
            <td>6.8</td>
            <td>Rp 100,100 </td>
        </tr>
        <tr>
            <td>90 mm - 3"</td>
            <td>8.2</td>
            <td>Rp 144,900 </td>
        </tr>
        <tr>
            <td>110 mm - 4"</td>
            <td>10.0</td>
            <td>Rp 218,600 </td>
        </tr>
        <tr>
            <td>160 mm - 6"</td>
            <td>14.6</td>
            <td>Rp 459,950 </td>
        </tr>
        <tr>
            <td>200 mm - 8"</td>
            <td>18.2</td>
            <td>Rp 748,200 </td>
        </tr>
        <tr>
            <td>250 mm - 10"</td>
            <td>22.7</td>
            <td>Rp 1,165,550 </td>
        </tr>
        <tr>
            <td>315 mm - 12"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>355 mm - 14"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>400 mm - 16"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>450 mm - 18"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>500 mm - 20"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>630 mm - 24"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>710 mm - 28"</td>
            <td>-</td>
            <td> - </td>
        </tr>
        <tr>
            <td>800 mm - 32"</td>
            <td>-</td>
            <td> - </td>
        </tr>
    </tbody>
</table>
