<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">Pipa HDPE Rucika Black (Wavin) SDR 26 PN 6.3
            </th>
        </tr>
        <tr>
            <td>Dimensi</td>
            <td rowspan="2">Tebal (mm)</td>
            <td rowspan="2">Harga (Rp/meter)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OD (mm) - ND (inch)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>20 -1/2"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>25 - 3/4"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>32 - 1"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>40 - 1 1/4"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>50 - 1 1/2"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>63 - 2"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>75 - 2 1/2"</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>90 - 3"</td>
            <td>3.5</td>
            <td>Rp 60,000 </td>
        </tr>
        <tr>
            <td>110 - 4"</td>
            <td>4.3</td>
            <td>Rp 90,750 </td>
        </tr>
        <tr>
            <td>125 - 5"</td>
            <td>4.8</td>
            <td>Rp 114,650 </td>
        </tr>
        <tr>
            <td>140 - 5"</td>
            <td>5.4</td>
            <td>Rp 144,150 </td>
        </tr>
        <tr>
            <td>160 - 6"</td>
            <td>6.2</td>
            <td>Rp 188,250 </td>
        </tr>
        <tr>
            <td>180 - 6"</td>
            <td>6.9</td>
            <td>Rp 236,700 </td>
        </tr>
        <tr>
            <td>200 - 8"</td>
            <td>7.7</td>
            <td>Rp 292,350 </td>
        </tr>
        <tr>
            <td>225 - 8"</td>
            <td>8.6</td>
            <td>Rp 367,750 </td>
        </tr>
        <tr>
            <td>250 - 10"</td>
            <td>9.6</td>
            <td>Rp 456,300 </td>
        </tr>
        <tr>
            <td>280 - 10"</td>
            <td>10.7</td>
            <td>Rp 568,300 </td>
        </tr>
        <tr>
            <td>315 - 12"</td>
            <td>12.1</td>
            <td>Rp 724,800 </td>
        </tr>
        <tr>
            <td>355 - 14"</td>
            <td>13.6</td>
            <td>Rp 914,750 </td>
        </tr>
        <tr>
            <td>400 - 16"</td>
            <td>15.3</td>
            <td>Rp 1,160,050 </td>
        </tr>
        <tr>
            <td>450 - 18"</td>
            <td>17.2</td>
            <td>Rp 1,466,850 </td>
        </tr>
        <tr>
            <td>500 - 20"</td>
            <td>19.1</td>
            <td>Rp 1,809,350 </td>
        </tr>
        <tr>
            <td>560 - 22"</td>
            <td>21.4</td>
            <td>Rp 2,268,050 </td>
        </tr>
        <tr>
            <td>630 - 24"</td>
            <td>24.1</td>
            <td>Rp 2,873,800 </td>
        </tr>
        <tr>
            <td>710 - 28"</td>
            <td>27.2</td>
            <td>-</td>
        </tr>
    </tbody>
</table>