<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3" class="text-center">Pipa HDPE Supralon PN-16 / S-5 / SDR-11</th>
        </tr>
        <tr>
            <th>Diameter</th>
            <th>Length</th>
            <th></th>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>meter per roll/batang</td>
            <td>Harga (Rp/meter)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm (1/2″)</td>
            <td>250</td>
            <td>Rp 8.230</td>
        </tr>
        <tr>
            <td>25 mm (3/4″)</td>
            <td>250</td>
            <td>Rp 12.340</td>
        </tr>
        <tr>
            <td>32 mm (1″)</td>
            <td>250</td>
            <td>Rp 20.330</td>
        </tr>
        <tr>
            <td>40 mm (1 1/4″)</td>
            <td>250</td>
            <td>Rp 31.360</td>
        </tr>
        <tr>
            <td>50 mm (1 1/2″)</td>
            <td>100</td>
            <td>Rp 48.670</td>
        </tr>
        <tr>
            <td>63 mm (2″)</td>
            <td>100</td>
            <td>Rp 77.330</td>
        </tr>
        <tr>
            <td>75 mm (2 1/2″)</td>
            <td>100</td>
            <td>Rp 108.040</td>
        </tr>
        <tr>
            <td>90 mm (3″)</td>
            <td>50</td>
            <td>Rp 156.250</td>
        </tr>
        <tr>
            <td>110 mm (4″)</td>
            <td>50</td>
            <td>Rp 232.920</td>
        </tr>
        <tr>
            <td>125 mm (5″)</td>
            <td>6</td>
            <td>Rp 301.620</td>
        </tr>
        <tr>
            <td>140 mm (–)</td>
            <td>6</td>
            <td>Rp 376.520</td>
        </tr>
        <tr>
            <td>160 mm (6″)</td>
            <td>6</td>
            <td>Rp 494.340</td>
        </tr>
        <tr>
            <td>180 mm (–)</td>
            <td>6</td>
            <td>Rp 624.800</td>
        </tr>
        <tr>
            <td>200 mm (8″)</td>
            <td>6</td>
            <td>Rp 770.480</td>
        </tr>
        <tr>
            <td>225 mm (–)</td>
            <td>6</td>
            <td>Rp 976.180</td>
        </tr>
        <tr>
            <td>250 mm (10″)</td>
            <td>6</td>
            <td>Rp 1.201.433</td>
        </tr>
        <tr>
            <td>280 mm (–)</td>
            <td>6</td>
            <td>Rp 1.505.800</td>
        </tr>
        <tr>
            <td>315 mm (12″)</td>
            <td>6</td>
            <td>Rp 1.907.230</td>
        </tr>
        <tr>
            <td>355 mm (14″)</td>
            <td>6</td>
            <td>Rp 2.420.200</td>
        </tr>
        <tr>
            <td>400 mm (16″)</td>
            <td>6</td>
            <td>Rp 3.074.040</td>
        </tr>
        <tr>
            <td>450 mm (18″)</td>
            <td>6</td>
            <td>Rp 4.048.760</td>
        </tr>
        <tr>
            <td>500 mm (20″)</td>
            <td>6</td>
            <td>Rp 4.991.870</td>
        </tr>
        <tr>
            <td>560 mm (22″)</td>
            <td>6</td>
            <td>Rp 6.259.760</td>
        </tr>
        <tr>
            <td>630 mm (24″)</td>
            <td>6</td>
            <td>Rp 7.924.560</td>
        </tr>
        <tr>
            <td>710 mm (28″)</td>
            <td>6</td>
            <td></td>
        </tr>
        <tr>
            <td>800 mm (32″)</td>
            <td>6</td>
            <td></td>
        </tr>
        <tr>
            <td>900 mm (36″)</td>
            <td>6</td>
            <td></td>
        </tr>
        <tr>
            <td>1000 mm (40″)</td>
            <td>6</td>
            <td></td>
        </tr>
        <tr>
            <td>1200 mm (48″)</td>
            <td>6</td>
            <td></td>
        </tr>
    </tbody>
</table>