<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3" class="text-center">Harga Pipa HDPE Supralon PN-8 / S-10 / SDR-21</th>
        </tr>
        <tr>
            <th>Diameter</th>
            <th>Length</th>
            <th></th>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>meter per roll/batang</td>
            <td>Harga (Rp/meter)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm (1/2″)</td>
            <td>250</td>
            <td></td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>250</td>
            <td></td>
        </tr>
        <tr>
            <td>32 mm (1″)</td>
            <td>250</td>
            <td></td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>250</td>
            <td>Rp 17.330</td>
        </tr>
        <tr>
            <td>50 mm (1 1/2″)</td>
            <td>100</td>
            <td>Rp 27.630</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>100</td>
            <td>Rp 43.000</td>
        </tr>
        <tr>
            <td>75 mm (2 1/2″)</td>
            <td>100</td>
            <td>Rp 61.390</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>50</td>
            <td>Rp 87.960</td>
        </tr>
        <tr>
            <td>110 mm (4″)</td>
            <td>50</td>
            <td>Rp 131.180</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 168.140</td>
        </tr>
        <tr>
            <td>140 mm (–)</td>
            <td>6</td>
            <td>Rp 210.290</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 275.800</td>
        </tr>
        <tr>
            <td>180 mm (–)</td>
            <td>6</td>
            <td>Rp 347.100</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 429.890</td>
        </tr>
        <tr>
            <td>225 mm (–)</td>
            <td>6</td>
            <td>Rp 541.480</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 666.250</td>
        </tr>
        <tr>
            <td>280 mm (–)</td>
            <td>6</td>
            <td>Rp 841.060</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 1.058.140</td>
        </tr>
        <tr>
            <td>355 mm (14″)</td>
            <td>6</td>
            <td>Rp 1.343.540</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 1.711.540</td>
        </tr>
        <tr>
            <td>450 mm (18″)</td>
            <td>6</td>
            <td>Rp 2.233.820</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 2.752.200</td>
        </tr>
        <tr>
            <td>560 mm (22″)</td>
            <td>6</td>
            <td>Rp 3.459.950</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 4.353.620</td>
        </tr>
        <tr>
            <td>710 mm (28″)</td>
            <td>6</td>
            <td>Rp 6.053.320</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 7.672.850</td>
        </tr>
        <tr>
            <td>900 mm (36″)</td>
            <td>6</td>
            <td>Rp 11.321.670</td>
        </tr>
        <tr>
            <td>mm (inch)</td>
            <td>6</td>
            <td>Rp 13.987.650</td>
        </tr>
        <tr>
            <td>1200 mm (48″)</td>
            <td>6</td>
            <td>Rp 20.126.270</td>
        </tr>
    </tbody>
</table>