{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    {{ partial "menu/pipa-hdpe-rucika" . }}
                    
                    <h3>Harga Pipa HDPE Rucika Black SDR 21 PN 8</h3>

                    <strong>Update Desember 2018</strong>
                </div>
            </div>
        </div>

        <br>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="3">Pipa HDPE Rucika Black (Wavin) SDR 21 PN 8</th>
                        </tr>
                        <tr>
                            <td>Dimensi</td>
                            <td rowspan="2">Tebal (mm)</td>
                            <td rowspan="2">Harga (Rp/meter)</td>
                        </tr>
                        <tr>
                            <td>OD (mm) - ND (inch)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20 -1/2"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>25 - 3/4"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>32 - 1"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>40 - 1 1/4"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>50 - 1 1/2"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>63 - 2"</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>75 - 2 1/2"</td>
                            <td>3.6</td>
                            <td>Rp 51,300 </td>
                        </tr>
                        <tr>
                            <td>90 - 3"</td>
                            <td>4.3</td>
                            <td>Rp 73,600 </td>
                        </tr>
                        <tr>
                            <td>110 - 4"</td>
                            <td>5.3</td>
                            <td>Rp 110,350 </td>
                        </tr>
                        <tr>
                            <td>125 - 5"</td>
                            <td>6</td>
                            <td>Rp 141,050 </td>
                        </tr>
                        <tr>
                            <td>140 - 5"</td>
                            <td>6.7</td>
                            <td>Rp 176,650 </td>
                        </tr>
                        <tr>
                            <td>160 - 6"</td>
                            <td>7.7</td>
                            <td>Rp 231,650 </td>
                        </tr>
                        <tr>
                            <td>180 - 6"</td>
                            <td>8.6</td>
                            <td>Rp 291,150 </td>
                        </tr>
                        <tr>
                            <td>200 - 8"</td>
                            <td>9.6</td>
                            <td>Rp 360,650 </td>
                        </tr>
                        <tr>
                            <td>225 - 8"</td>
                            <td>10.8</td>
                            <td>Rp 455,800 </td>
                        </tr>
                        <tr>
                            <td>250 - 10"</td>
                            <td>13.4</td>
                            <td>Rp 557,950 </td>
                        </tr>
                        <tr>
                            <td>280 - 10"</td>
                            <td>15</td>
                            <td>Rp 704,100 </td>
                        </tr>
                        <tr>
                            <td>315 - 12"</td>
                            <td>16.9</td>
                            <td>Rp 884,800 </td>
                        </tr>
                        <tr>
                            <td>355 - 14"</td>
                            <td>19.1</td>
                            <td>Rp 1,123,550 </td>
                        </tr>
                        <tr>
                            <td>400 - 16"</td>
                            <td>21.5</td>
                            <td>Rp 1,432,350 </td>
                        </tr>
                        <tr>
                            <td>450 - 18"</td>
                            <td>23.9</td>
                            <td>Rp 1,811,500 </td>
                        </tr>
                        <tr>
                            <td>500 - 20"</td>
                            <td>26.7</td>
                            <td>Rp 2,234,900 </td>
                        </tr>
                        <tr>
                            <td>560 - 22"</td>
                            <td>30</td>
                            <td>Rp 2,794,050 </td>
                        </tr>
                        <tr>
                            <td>630 - 24"</td>
                            <td>30</td>
                            <td>Rp 3,533,450 </td>
                        </tr>
                        <tr>
                            <td>710 - 28"</td>
                            <td>33.9</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}