{{ partial "header-default" . }}

<div class="section section-contents section-pad">
        <div class="container">
                <div class="content row">
                        <div class="col-md-12 col-lg-12">
                                <div class="text-center">
                                        Lihat semua:
                                        <a href="{{ .Site.BaseURL }}/harga" class="btn btn-sm">Harga Pipa HDPE</a>
                                        <br><br>
                                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-63" class="btn btn-sm">Rucika Black PN 6.3</a>
                                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-8" class="btn btn-sm">Rucika Black PN 8</a>
                                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-10" class="btn btn-sm">Rucika Black PN 10</a>
                                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-125" class="btn btn-sm">Rucika Black PN 12.5</a>
                                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-16" class="btn btn-sm">Rucika Black PN 16</a>
                                        <hr>
                                        <h3>Harga Pipa HDPE Rucika Black SDR 11 PN 16</h3>
                                </div>
                        </div>
                </div>

                <br>

                <div class="content row">
                        <div class="col-md-12 col-sm-12">
                                <table class="table table-bordered table-hover">
                                        <thead>
                                                <tr>
                                                        <th colspan="3">Pipa HDPE Rucika Black (Wavin) SDR 11 PN 16</th>
                                                </tr>
                                                <tr>
                                                        <td>Dimensi</td>
                                                        <td rowspan="2">Tebal (mm)</td>
                                                        <td rowspan="2">Harga (Rp/meter)</td>
                                                </tr>
                                                <tr>
                                                        <td>OD (mm) - ND (inch)</td>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>20 -1/2"</td>
                                                        <td>1.9</td>
                                                        <td>Rp 7,000 </td>
                                                </tr>
                                                <tr>
                                                        <td>25 - 3/4"</td>
                                                        <td>2.3</td>
                                                        <td>Rp 9,000 </td>
                                                </tr>
                                                <tr>
                                                        <td>32 - 1"</td>
                                                        <td>2.9</td>
                                                        <td>Rp 14,700 </td>
                                                </tr>
                                                <tr>
                                                        <td>40 - 1 1/4"</td>
                                                        <td>3.7</td>
                                                        <td>Rp 22,700 </td>
                                                </tr>
                                                <tr>
                                                        <td>50 - 1 1/2"</td>
                                                        <td>4.6</td>
                                                        <td>Rp 35,200 </td>
                                                </tr>
                                                <tr>
                                                        <td>63 - 2"</td>
                                                        <td>5.8</td>
                                                        <td>Rp 55,650 </td>
                                                </tr>
                                                <tr>
                                                        <td>75 - 2 1/2"</td>
                                                        <td>6.8</td>
                                                        <td>Rp 77,700 </td>
                                                </tr>
                                                <tr>
                                                        <td>90 - 3"</td>
                                                        <td>8.2</td>
                                                        <td>Rp 112,600 </td>
                                                </tr>
                                                <tr>
                                                        <td>110 - 4"</td>
                                                        <td>10</td>
                                                        <td>Rp 166,950 </td>
                                                </tr>
                                                <tr>
                                                        <td>125 - 5"</td>
                                                        <td>11.4</td>
                                                        <td>Rp 216,650 </td>
                                                </tr>
                                                <tr>
                                                        <td>140 - 5"</td>
                                                        <td>12.7</td>
                                                        <td>Rp 269,950 </td>
                                                </tr>
                                                <tr>
                                                        <td>160 - 6"</td>
                                                        <td>14.6</td>
                                                        <td>Rp 354,400 </td>
                                                </tr>
                                                <tr>
                                                        <td>180 - 6"</td>
                                                        <td>16.4</td>
                                                        <td>Rp 447,950 </td>
                                                </tr>
                                                <tr>
                                                        <td>200 - 8"</td>
                                                        <td>18.2</td>
                                                        <td>Rp 552,300 </td>
                                                </tr>
                                                <tr>
                                                        <td>225 - 8"</td>
                                                        <td>20.5</td>
                                                        <td>Rp 699,150 </td>
                                                </tr>
                                                <tr>
                                                        <td>250 - 10"</td>
                                                        <td>22.7</td>
                                                        <td>Rp 860,750 </td>
                                                </tr>
                                                <tr>
                                                        <td>280 - 10"</td>
                                                        <td>25.4</td>
                                                        <td>Rp 1,078,000 </td>
                                                </tr>
                                                <tr>
                                                        <td>315 - 12"</td>
                                                        <td>28.6</td>
                                                        <td>Rp 1,366,000 </td>
                                                </tr>
                                                <tr>
                                                        <td>355 - 14"</td>
                                                        <td>32.2</td>
                                                        <td>Rp 1,731,900 </td>
                                                </tr>
                                                <tr>
                                                        <td>400 - 16"</td>
                                                        <td>36.3</td>
                                                        <td>Rp 2,198,900 </td>
                                                </tr>
                                                <tr>
                                                        <td>450 - 18"</td>
                                                        <td>40.9</td>
                                                        <td>Rp 2,785,150 </td>
                                                </tr>
                                                <tr>
                                                        <td>500 - 20"</td>
                                                        <td>45.4</td>
                                                        <td>Rp 3,435,800 </td>
                                                </tr>
                                                <tr>
                                                        <td>560 - 22"</td>
                                                        <td>50.8</td>
                                                        <td>Rp 4,304,300 </td>
                                                </tr>
                                                <tr>
                                                        <td>630 - 24"</td>
                                                        <td>57.2</td>
                                                        <td>Rp 5,453,550 </td>
                                                </tr>
                                                <tr>
                                                        <td>710 - 28"</td>
                                                        <td>64.5</td>
                                                        <td>Rp 7,945,000 </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</div>

{{ partial "footer" . }}