{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h2>Harga Mesin Las HDPE (Mesin Butt Welding HDPE)</h2>
                </div>
            </div>
        </div>

        <br>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <img src="{{.Site.BaseURL}}image/mesin-las-hdpe-1.jpg" alt="jual mesin las HDPE">
                </div>
                <br>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Mesin Welding HDPE Butt Fusion Welding Manual</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>GUF-160/63mm 2 clamps Push Hand</td>
                            <td>Rp 15.400.000</td>
                        </tr>
                        <tr>
                            <td>GUF-160/63mm 4 clamps Hand Wheel</td>
                            <td>Rp 16.500.000</td>
                        </tr>
                        <tr>
                            <td>GUF-200/63mm 2 clamps Push Hand</td>
                            <td>Rp 17.600.000</td>
                        </tr>
                        <tr>
                            <td>GUF-200/63mm 4 clamps Hand Wheel</td>
                            <td>Rp 19.800.000</td>
                        </tr>
                        <tr>
                            <td>Wuxi Shengda SHDS-160/63mm</td>
                            <td>Rp 30.000.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Mesin Welding HDPE Butt Fusion Hydraulic</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Lesso-250/90m</td>
                            <td>Rp 59.000.000</td>
                        </tr>
                        <tr>
                            <td>HDC-315/90mm (indent 2 bulan)</td>
                            <td>Rp 72.000.000</td>
                        </tr>
                        <tr>
                            <td>HDC-450/180mm (indent 2 bulan)</td>
                            <td>Rp 133.000.000</td>
                        </tr>
                        <tr>
                            <td>HDC-500/180mm (indent 2 bulan)</td>
                            <td>Rp 146.000.000</td>
                        </tr>
                        <tr>
                            <td>HDC-630/315mm (indent 2 bulan)</td>
                            <td>Rp 173.000.000</td>
                        </tr>
                        <tr>
                            <td>HDC-800/450mm (indent 2 bulan)</td>
                            <td>Rp 300.000.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Mesin Welding HDPE Electrofusion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ATS-250 (dia-size: 20 mm to 400 mm)</td>
                            <td>Rp 47.000.000</td>
                        </tr>
                        <tr>
                            <td>ATS-500 (dia-size: 20 mm to 710 mm)</td>
                            <td>Rp 60.000.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Mesin Welding HDPE/PPR Socket Fusion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GUF 63/20mm (1/2″ to 2″)</td>
                            <td>Rp 1.050.000</td>
                        </tr>
                        <tr>
                            <td>GUFD 63/20mm (1/2″ to 2″) Digital Control</td>
                            <td>Rp 1.969.000</td>
                        </tr>
                        <tr>
                            <td>GUF 110/20mm (1/2″ to 4″)</td>
                            <td>Rp 1.969.000</td>
                        </tr>
                        <tr>
                            <td>Gunting Pipa PPR/HDPE</td>
                            <td>Rp 66.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}