{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h2>Daftar Harga Pipa HDPE</h2>
                </div>
            </div>
        </div>

        <br>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <div class="btn-group-vertical" role="group">
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-corrugated" class="btn btn-sm">Harga Pipa HDPE
                            Corrugated</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-spiral" class="btn btn-sm">Harga Pipa HDPE
                            Spiral</a>
                    </div>

                    <hr>

                    <h3>Harga Pipa HDPE Rucika Black (Wavin)</h3>


                    <div class="btn-group-vertical" role="group">
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-63" class="btn btn-sm">Rucika
                            Black PN 6.3</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-8" class="btn btn-sm">Rucika
                            Black PN 8</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-10" class="btn btn-sm">Rucika
                            Black PN 10</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-125"
                            class="btn btn-sm">Rucika Black PN 12.5</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-rucika-black-wavin-pn-16" class="btn btn-sm">Rucika
                            Black PN 16</a>
                    </div>

                    <hr>

                    <h3>Harga Pipa HDPE HOCO</h3>

                    <div class="btn-group-vertical" role="group">
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-63" class="btn btn-sm">HOCO PN 6.3</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-8" class="btn btn-sm">HOCO PN 8</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-10" class="btn btn-sm">HOCO PN 10</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-125" class="btn btn-sm">HOCO PN 12.5</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-16" class="btn btn-sm">HOCO PN 16</a>
                    </div>

                    <hr>

                    <h3>Harga Pipa HDPE Supralon</h3>

                    <div class="btn-group-vertical" role="group">
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-supralon-pn-8" class="btn btn-sm">Supralon PN 8</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-supralon-pn-10" class="btn btn-sm">Supralon PN 10</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-supralon-pn-125" class="btn btn-sm">Supralon PN 12.5</a>
                        <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-supralon-pn-16" class="btn btn-sm">Supralon PN 16</a>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</div> <!-- end of section -->

{{ partial "footer" . }}