{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h2>Harga Fitting Pipa HDPE HQ Compression Joint</h2>
                </div>
            </div>
        </div>

        <br>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/socket" class="btn btn-sm">Socket</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/elbow" class="btn btn-sm">Elbow
                            90&deg;</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/tee-equal" class="btn btn-sm">Tee
                            (Equal)</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/tee-reducer" class="btn btn-sm">Tee
                            (Reducer)</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/reducer" class="btn btn-sm">Reducer<br>/Vlok
                            Sock</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/sock-drat-dalam" class="btn btn-sm">Female
                            Thread Adaptor<br>/Sock Drat Dalam</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/sock-drat-luar" class="btn btn-sm">Male
                            Thread Adaptor <br>/Sock Drat Luar</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/elbow-drat-dalam" class="btn btn-sm">Female
                            Thread Elbow<br>/Knee Drat Dalam</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/elbow-drat-luar" class="btn btn-sm">Male
                            Thread Elbow<br>/Knee Drat Luar</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/tee-drat-dalam" class="btn btn-sm">Female
                            Thread Tee <br>/Tee Drat Dalam</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/tee-drat-luar" class="btn btn-sm">Male
                            Thread Tee <br>/Tee Drat Luar</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/cap" class="btn btn-sm">Cap/Dop</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/clamp-saddle-galvanis-bolt" class="btn btn-sm">Clamp
                            Saddle with <br> galvanized iron nut&amp;bolt</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/clamp-saddle-ss-bolt" class="btn btn-sm">Clamp
                            Saddle with <br>bolt, nut, plat washer SS 304</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/ferule-cutter-pipe" class="btn btn-sm">Ferule
                            Cutter pipe end</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/ferule-cutter-cr13" class="btn btn-sm">Ferule
                            Cutter 2 CR 13</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/pushfit-elbow" class="btn btn-sm">Pushfit
                            Elbow/Knee</a></p>
                    <p><a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint/pushfit-socket" class="btn btn-sm">Pushfit
                            Coupling/Socket</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}