{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h2>Harga Fitting Pipa HDPE</h2>
                </div>
            </div>
        </div>

        <br>

        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <hr>
                <div class="text-center">
                    <h3>Fitting HDPE HQ</h3>
                    <a href="{{ .Site.BaseURL }}/harga/fitting-hdpe/hq-compression-joint" class="btn btn-sm">HQ Compression
                        Joint</a>
                    <!-- <a href="{{ .Site.BaseURL }}harga/fitting-hdpe/hq-butt-fusion" class="btn btn-sm">HQ Butt Fusion</a> -->
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}