<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ .Site.BaseURL }}/harga">Harga Pipa HDPE</a>
        </li>
        <li class="dropdown">
            <a href="#">Harga Fitting Pipa HDPE</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-hdpe/hq/">HQ</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-hdpe/vinilon">Vinilon</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/harga">Harga Mesin Las HDPE (Butt Welding)</a>
        </li>
        <li class="dropdown"><a href="#">Pipa Lainnya</a>
            <ul class="dropdown-menu">
                <li><a href="https://www.pipapvc.net">Pipa PVC</a></li>
                <li><a href="https://pipappr.co.id">Pipa PPR</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- #end MainNav -->