{{ partial "header-home" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-lg-12">
                <h3>Jenis pipa apa yang paling cocok digunakan untuk saluran air bersih bertekanan?</h3>

                <p>Jawabannya tentu saja pipa HDPE, Mengapa pipa ini yang paling sesuai?</p>

                <p>Ada beberapa alasan yang membuat pipa ini cocok digunakan pada saluran air bersih bertekanan
                    diantaranya adalah: </p>

                <ul>
                    <li><strong>* Pertama</strong> adalah dari bahan baku pipa HDPE yang terbuat dari minyak bumi atau polietilena
                        berdensitas tinggi membuat pipa ini memiliki kerapatan molekul yang sangat tinggi sehingga tidak
                        mudah hancur atau rusak.</li>
                        
                    <li><strong>* Kedua</strong> ketahanan serta kelenturan yang tinggi terhadap tekanan.</li>
                    <li><strong>* Ketiga</strong> pipa HDPE memiliki standard food grade yang artinya aman digunakan untuk industri makanan dan
                            minuman. Material dari pipa HDPE tidak mudah rusak sehingga tidak mencemari saluran air.</li>
                    <li><strong>* Keempat</strong> pipa ini tahan terhadap suhu hingga 60 derajat celsius, menjadikan pipa ini sesuai diinstalasi
                            pada daerah beriklim tropis.</li>
                    <li><strong>* Kelima</strong> tingkat fleksibilitas yang tinggi membuat pipa ini dapat dipasang pada daerah dengan kontur
                            yang tidak merata seperti daerah perbukitan.</li>
                </ul>
                <p>Nama pasaran yang biasa digunakan untuk pipa HDPE adalah pipa PE.</p>
                
                <p>Nama dari pipa ini sendiri tercipta daripada bahan bakunya yaitu High Density Polyethylene atau bisa
                        disebut Polietilena berdensitas tinggi.</p>               

            </div>
        </div>
    </div>
</div>


{{ partial "footer" . }}