{{ partial "header-home" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3>Jenis pipa apa yang paling cocok digunakan untuk saluran air bersih bertekanan?</h3>

                <p>Jawabannya tentu saja pipa HDPE, Mengapa pipa ini yang paling sesuai?</p>

                <p>Ada beberapa alasan yang membuat pipa ini cocok digunakan pada saluran air bersih bertekanan
                    diantaranya adalah: </p>

                <ul>
                    <li><strong>* Pertama</strong> adalah dari bahan baku pipa HDPE yang terbuat dari minyak bumi atau
                        polietilena
                        berdensitas tinggi membuat pipa ini memiliki kerapatan molekul yang sangat tinggi sehingga tidak
                        mudah hancur atau rusak.</li>

                    <li><strong>* Kedua</strong> ketahanan serta kelenturan yang tinggi terhadap tekanan.</li>
                    <li><strong>* Ketiga</strong> pipa HDPE memiliki standard food grade yang artinya aman digunakan
                        untuk industri makanan dan
                        minuman. Material dari pipa HDPE tidak mudah rusak sehingga tidak mencemari saluran air.</li>
                    <li><strong>* Keempat</strong> pipa ini tahan terhadap suhu hingga 60 derajat celsius, menjadikan
                        pipa ini sesuai diinstalasi
                        pada daerah beriklim tropis.</li>
                    <li><strong>* Kelima</strong> tingkat fleksibilitas yang tinggi membuat pipa ini dapat dipasang pada
                        daerah dengan kontur
                        yang tidak merata seperti daerah perbukitan.</li>
                </ul>
                <p>Nama pasaran yang biasa digunakan untuk pipa HDPE adalah pipa PE.</p>

                <p>Nama dari pipa ini sendiri tercipta daripada bahan bakunya yaitu High Density Polyethylene atau bisa
                    disebut Polietilena berdensitas tinggi.</p>

                <p>Baca lebih lanjut tentang: <strong><a href="/jenis-jenis-pipa-hdpe">Jenis-Jenis Pipa HDPE</a></strong></p>
                
            </div>
            <div style="clear: both; height:50px;"></div>
            <div class="col-md-12 col-sm-12">
                <h3>Data Properti Fisik Pipa HDPE</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Data Polymer </th>
                            <th>PE 100</th>
                            <th>Unit</th>
                            <th>Metode Pengujian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Density at (23◦C)</td>
                            <td>0.955</td>
                            <td>g/cm3</td>
                            <td>ISO 1183</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Viscosity Number</td>
                            <td>360</td>
                            <td>cm3 / gr</td>
                            <td>ISO 1628</td>
                            
                            
                        </tr>
                        <tr>
                            <td>MFR ( 190◦ / 5 kg)</td>
                            <td>0.22</td>
                            <td>g/10dak</td>
                            <td>ISO 1133</td>
                            
                            
                        </tr>
                        <tr>
                            <td>MFR ( 190◦ / 25 kg)</td>
                            <td>6.6</td>
                            <td>g/10dak</td>
                            <td>ISO 1133</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Mechanical Properties</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            
                        </tr>
                        <tr>
                            <td>Yield Stress</td>
                            <td>23</td>
                            <td>Mpa</td>
                            <td>ISO 527</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Elongation at Yield</td>
                            <td>9</td>
                            <td>%</td>
                            <td>ISO 527</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Tensile Modulus </td>
                            <td>900</td>
                            <td>%</td>
                            <td>ISO 527</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Notched impact strenght</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            
                        </tr>
                        <tr>
                            <td>+ 23◦ C</td>
                            <td>26</td>
                            <td>kJ / m2</td>
                            <td>ISO 179/1eA</td>
                            
                            
                        </tr>
                        <tr>
                            <td>- 20◦ C</td>
                            <td>13</td>
                            <td>kJ / m2</td>
                            <td>ISO 179/1eA</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Properties Lain</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            
                        </tr>
                        <tr>
                            <td>Oxidation - Induction time at ( 210◦ C'de)</td>
                            <td>≥ 20</td>
                            <td>min</td>
                            <td>ISO TR 10837</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Carbon Black Content</td>
                            <td>2.3 ± 0.2</td>
                            <td>%</td>
                            <td>ISO 6964</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Carbon Black Dispersion</td>
                            <td>≤ 3</td>
                            <td></td>
                            <td>ISO CD 11420</td>
                            
                            
                        </tr>
                        <tr>
                            <td>MRS minimum Required Strenght</td>
                            <td>
                                < 10 </td> <td>Mpa
                            </td>
                            <td>ISO TR 9080</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Resistance to S.C.P (Slow Crack Propagation) = 4.6 Mpa, 80◦ C Notched</td>
                            <td>> 3000</td>
                            <td>h</td>
                            <td>EN 33479</td>
                        </tr>
                        <tr>
                            <td>Resistance to R.C.P (Rapid Crack Propagation) S4-test 110/10 mm) 0◦ C</td>
                            <td>
                                < 25 
                            </td>
                            <td>bar</td>
                            <td>ISO DIS 13477</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Elongation at break</td>
                            <td>
                                < 600 
                            </td>
                            <td>%</td>
                            <td>EN 638</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Linear Thermal Expansion</td>
                            <td>1.8 x 10-2</td>
                            <td>◦C-1</td>
                            <td>ASTM D 696 (20-60◦ C)</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Specific Heat Capacity</td>
                            <td>1.9</td>
                            <td>J/g ◦C</td>
                            <td>BPCL</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Electrical Properties </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            
                        </tr>
                        <tr>
                            <td>Electric Strenght</td>
                            <td>> 20</td>
                            <td>kV / mm</td>
                            <td>BS 2782 201 B</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Volume resistivity</td>
                            <td>> 1013</td>
                            <td>Ω m</td>
                            <td>BS 2782 230A</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Surface resistivity</td>
                            <td>> 1015</td>
                            <td>Ω</td>
                            <td>BS 2782 231A</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Relative pernitivity</td>
                            <td>2.6</td>
                            <td>-</td>
                            <td>BS 2067 (1 to 20 MHZ)</td>
                            
                            
                        </tr>
                        <tr>
                            <td>Loss tangent</td>
                            <td>3x10-4</td>
                            <td>-</td>
                            <td>BS 2067</td>
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{ partial "footer" . }}